@import '../../general/styles/colors.scss';

.address-bar {
   width: 100%;
   display: flex;
   align-items: center;

   &__arrow {
      padding: 1rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      fill: $item-inactive-text;

      &:hover {
         fill: $item-hovered-text;
         background-color: $item-hovered-bg;
      }

      &--forward {
         transform: rotate(-90deg);
      }

      &--backward {
         transform: rotate(90deg);
      }
   }

   &__input {
      width: 100%;
      margin-left: 1rem;
      background-color: transparent;
      border: none;
      color: $item-inactive-text;
   }
}
