@import '../../general/styles/colors.scss';

.root {
   min-height: 100%;
   height: fit-content;
   padding: 1rem;
   position: relative;
   display: flex;
   color: $clr-text;
   background-color: $bg-level-0;
   gap: 1rem;

   &__aside {
      border-radius: $border-radius;
      background-color: $bg-level-2;
   }

   &__main {
      border-radius: $border-radius;
      background-color: $bg-level-1;
   }
}
