@import '../../general/styles/colors.scss';

.context-menu {
   position: absolute;
   background-color: $bg-level-3;
   box-shadow:
      rgba(0, 0, 0, 0.1) 6px 2px 16px 0px,
      rgba(0, 0, 0, 0.1) -6px -2px 16px 0px;

   &__item-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
   }

   &__item-button {
      width: 100%;
      padding: 1rem;
      background-color: transparent;
      color: $item-inactive-text;
      border: none;
      cursor: pointer;
      text-align: start;

      &:hover {
         color: $item-hovered-text;
         background-color: $item-hovered-bg;
      }
   }
}
