@import '../../general/styles/colors.scss';

.dirent-item {
   $block: &;
   padding: 1rem;
   display: grid;
   grid-template-columns: 3rem 5fr 1fr 1fr;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: $border-radius;
   fill: $item-inactive-text;
   color: $item-inactive-text;

   &:hover {
      background-color: $item-hovered-bg;
      color: $item-hovered-text;
      fill: $item-hovered-text;
   }

   &--selected {
      color: $item-active-text;
      border-color: $clr-accent;

      #{$block}__icon {
         fill: $item-active-text;
      }
   }

   &__icon {
      fill: $item-inactive-text;
   }
}
